<mat-toolbar>Experience</mat-toolbar>
<mat-card>
  <mat-card-title>Back-end Developer</mat-card-title>
  <mat-card-subtitle>	Alibaba, New York City</mat-card-subtitle>
  <mat-card-subtitle>	Jan 2000 - Feb 2010</mat-card-subtitle>

  <mat-card-content> Designed XX system and deploed it, finnaly increased concurrency by 200%.</mat-card-content>

  <mat-card-content> Designed XX system</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Android Developer</mat-card-title>
  <mat-card-subtitle>	Apple, Silicon Valley</mat-card-subtitle>
  <mat-card-subtitle>	Jan 2000 - Feb 2010</mat-card-subtitle>

  <mat-card-content> Designed XX system and deploed it, finnaly increased concurrency by 200%.</mat-card-content>

  <mat-card-content> Designed XX system</mat-card-content>
</mat-card>
