<mat-toolbar>Education</mat-toolbar>
<mat-card>
  <!--<mat-card-title>Master of Science in Mathematics</mat-card-title>-->
  <!--<mat-card-title>Lanxiang University</mat-card-title>-->
  <mat-card-title>Master of Art in Excavator Design</mat-card-title>
  <mat-card-content> Lanxiang University</mat-card-content>
  <mat-card-subtitle> GPA: 4.0/4.0</mat-card-subtitle>
  <mat-card-subtitle> Selected Course: Excavator structure</mat-card-subtitle>
</mat-card>



<mat-card>
  <mat-card-title>Bachelor of Science in Computer Science </mat-card-title>
  <mat-card-content>Lanxiang University</mat-card-content>
  <mat-card-subtitle> GPA: 4.0/4.0</mat-card-subtitle>
  <mat-card-subtitle> Ranking: 11/111</mat-card-subtitle>
</mat-card>
